.header {
    height: 100vh;
    background-image: 
        url('../img/slide02-03.jpg'); 
    background-size:cover;
    background-position: top;
    position: relative;
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height:10rem;
    }
    &__text-box {
        position: absolute;
        top:60%;
        left: 50%;
        transform: translate(-50% , -50%);
        text-align: center;
        width: 60%;
    }
}