.image-width {
  width: 8.5rem;
  height: 2.5rem;
}

.active {
  color: #1976d2;
}

.unstyled-list {
  list-style: none;
}

.text-h6 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0125em;
}

.text-center-class {
  text-align: center;
}

.margin-bottom-8 {
  margin-bottom: 8rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.h-225 {
  height: 225px !important;
}

.padding-top-9 {
  padding-top: 9rem;
}

.padding-top-15 {
  padding-top: 15rem;
}

.img-footer {
  width: 50px;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.margin-top-15 {
  margin-top: 15rem;
}

.border-left {
  border-left: 3px solid #007bff !important;
}

h4 {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  color: #464749;
  font-size: 18px;
}

.title {
  margin-bottom: 3rem;
}

.section-subtitle {
  color: #1e83f0;
  display: block;
  margin-bottom: 8px;
}

.section-title {
  font-size: 2.8rem;
  width: 100%;
}

.section-title-link {
  font-size: 1.8rem;
  color: #1e83f0;
}

.bg-title {
  background-color: #2e3e77;
  margin-bottom: 0 !important;
}

.color-white {
  color: #FFF;
}

.margin-0 {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.f-20 {
  font-size: 2rem;
}

.border-bottom {
  border-bottom: 1px solid whitesmoke !important;
}

/**** For Title Section ****/
.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.title h1 {
  padding-bottom: 0px;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 500;
  color: #272830;
  text-align: center;
  line-height: 1.33;
  border-radius: 0px;
}

.title p {
  font-size: 17px;
  color: #474747;
  text-align: center;
  line-height: 1.33;
  border-radius: 0px;
}
