.card {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: rgba(180, 221, 230, 0.5) 0px 1px 14px 0px;
    transition: box-shadow 300ms ease 0s;
}
.card-x {
    width: 320px;
    margin-bottom: 4rem;
}