.nav-contact {
    font-family: "Open Sans";
    font-size: 16px;
    color: #00527f !important;
    text-align: center;
    line-height: 1;
    padding-top: 10px;
    border-radius: 0px;
    font-weight: 400;
}