.slider {
    margin-top: 15rem;

    &__content{
        &-con {
            padding-top: 10rem;

            .h1-con {
                height: 75px;
                top: 0px;
                font-family: 'Roboto';
                font-size: 40px;
                color: rgb(33, 33, 33);
                line-height: 1.1;
                border-radius: 0px;
                opacity: 1;
                margin-top: 1rem;
                margin-bottom: 4rem;
            }
            .def-con {
                height: 64px;
                left: 0px;
                top: 0px;
                overflow: visible;
                padding-bottom: 0px;
                font-family: Roboto;
                font-size: 22px;
                font-weight: 300;
                color: rgb(61, 61, 61);
                line-height: 1.4;
                border-radius: 0px;
                margin-top: 1rem;
                margin-bottom: 4rem;
                
            }
        }

    }
}