.course-content-enroll {
    margin-top: 15rem;

    &__title {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        color: rgb(49, 54, 83);
        line-height: 1;
        border-radius: 0px;
    }
}