.payment-section {
    height: 89px;
    width: 145px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    cursor: pointer;
    padding-top: 1rem;

    &__h2 {
        font-family: Roboto;
        font-size: 14px;
        color: rgb(92, 92, 92);
        text-align: center;
        line-height: 1.5;
        border-radius: 0px;
        font-weight: normal;
        text-decoration: none;
        font-style: normal;
    }
    &__btn {
        height: 34px;
        width: 100px;
        padding: 0px;
        cursor: pointer;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        color: rgb(255, 255, 255);
        line-height: 1.4;
        border-radius: 24px;
        transition: all 200ms ease 0s;
    }
}

.pay-box {
    border: 1px dotted rgba(121, 185, 191, 0.51);
}

.left-border {
    height: 136px;
    width: 207px;
    left: 0px;
    top: 39px;
    border-radius: 0px;
    border-style: none none none dotted;
    border-width: 1px;
    border-color: rgb(107, 107, 107) rgb(107, 107, 107) rgb(107, 107, 107) rgba(121, 184, 191, 0.51);
    cursor: pointer;
}
.li-list {
    padding-bottom: 15px;
    padding-left: 10px;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 14px;
    color: rgb(64, 170, 207);
    line-height: 1.4;
    border-radius: 0px;
}
.project__title {
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    line-height: 1.4;
    border-radius: 0px;
    padding: 0px;
    text-decoration: none;
    font-style: normal;
}
.project__desc {
    font-family: 'Roboto';
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.4;
    border-radius: 0px;
    padding: 0px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}
.content {
    line-height: 1.9;
}


.active-box {
    border: 1px solid rgb(156, 204, 101);
}
.non-active-box {
    border: 1px solid rgb(159, 212, 230) !important;
}

.active-btn {
    background: none rgb(156, 204, 101);
    border: 1px solid rgb(156, 204, 101);
}
.non-active-btn {
    background: none rgb(159, 212, 230) !important;
    border: 1px solid rgb(159, 212, 230) !important;
}

